<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Speak Watson</title>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
    <div class="row mt-sm-2 mb-sm-4">
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="POST" action="/salvarcomentario">
              <h2>Comentário</h2>
              <textarea required name="descricao" rows="5"class="form-control"></textarea>
              <br>
              <button class="col-12 Mybtn">Cadastrar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="card-body">
              <h3>Comentários</h3>
              <% comentarios.forEach(comentarios => { %>
            <p #id><%= comentarios.descricao  %>
              <audio id="<%=comentarios.id%>audio">
                <source src="/upload/<%=comentarios.id%>audio.wav" type="audio/mpeg">
              </audio>
                  <button value="<%= comentarios.id %>" 
                onclick="converterEOuvirAudio(<%= comentarios.id %>)" 
                class="col-3 float-right Mybtn"><i class="fa fa-play"></i> Ouvir
                  </button>
            </p>
              <hr>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      async function converterEOuvirAudio(id) {
        var audio = document.getElementsByTagName('audio')[id - 1];
        var newWindow = window.open(`/ouvircomentario/${id}`, 'newWindow', 'toolbar=no,menubar=no,resizable=no,scrollbars=no,status=no,location=no,width=' + 200 + ',height=' + 100);
        setTimeout(function () {
          newWindow.close();
        }, 3000);
        return await newWindow.close() + audio.play();
      }

      $('.btnGravar').click(function () {
        setTimeout(function () {
          window.location.reload();
        }
          , 3000);
      });
    </script>
</body>
</html>